.font-size-12 {
  font-size: 12px;
}
.font-size-20 {
  font-size: 20px;
}
.font-gray-5,
.block-heading-1 span {
  color: #b8b8b8;
}
.font-gray-7,
body {
  color: #aaaaaa;
}
.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-2 {
  letter-spacing: 0.2em;
}

.border-w-1 {
  border-width: 1px;
}

.border-w-2 {
  border-width: 2px;
}

.border-w-3 {
  border-width: 3px;
}

.border-w-4 {
  border-width: 4px;
}

.border-w-5 {
  border-width: 5px;
}

.primary-black--hover {
  background: #49adff;
  color: #fff;
}
.primary-black--hover:hover {
  background: #000;
  color: #fff;
}
a,
.text-primary {
  color: #49adff;
}
.primary-dark--hover {
  background: #49adff;
  color: #fff;
}
.primary-dark--hover:hover {
  background: gray;
  color: #fff;
}

.primary-primary-outline--hover {
  background: #49adff;
  color: #fff;
}
.primary-primary-outline--hover:hover {
  border-color: #49adff;
  background: transparent;
}

.primary-outline-primary--hover {
  background: transparent;
  border-color: #49adff;
}
.primary-outline-primary--hover:hover {
  color: #fff;
  background: #49adff;
}

body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
  background: #222;
}
body:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 399;
}
body.offcanvas-menu {
  position: relative;
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.btn.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff;
}
.btn.btn-outline-white:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 55px;
  border: none;
  background: #555;
  color: #fff;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-control:active,
.form-control:focus {
  color: #fff;
  background: #333;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

.site-footer {
  padding: 0;
  background: #333;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 6em 0 1em;
  }
}

.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.site-footer p {
  color: #fff;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}

.site-footer ul li {
  margin-bottom: 10px;
}
.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
}
.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white {
  color: #fff !important;
}
/* Navbar */
.site-navbar {
  margin-bottom: 0;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}
@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.site-navbar .toggle-button {
  position: absolute;
  right: 0;
}
.site-navbar .site-logo {
  position: absolute;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}
@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #49adff !important;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0;
  color: #fff !important;
  display: inline-block;
  text-decoration: none !important;
}
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #49adff;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #49adff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar {
  background: #222;
}
.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}
.sticky-wrapper .site-navbar ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}
.sticky-wrapper.is-sticky .site-navbar {
  background: #222;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}
.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #49adff;
}
.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #fff !important;
}
.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #49adff !important;
}
.sticky-wrapper .shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

/* Blocks */
.site-section-cover {
  position: relative;
}
.site-section-cover,
.site-section-cover .container {
  position: relative;
  z-index: 2;
}
.site-section-cover,
.site-section-cover .container > .row {
  height: calc(100vh - 196px);
  min-height: 577px;
}
@media (max-width: 991.98px) {
  .site-section-cover,
  .site-section-cover .container > .row {
    height: calc(70vh - 196px);
    min-height: 400px;
  }
}
.site-section-cover.overlay {
  position: relative;
}
.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.site-section-cover.inner-page,
.site-section-cover.inner-page .container > .row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}
.site-section-cover.img-bg-section {
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
.site-section-cover h1 {
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
}
@media (max-width: 991.98px) {
  .site-section-cover h1 {
    font-size: 2rem;
  }
}
.site-section-cover p {
  font-size: 18px;
  color: #fff;
}

.site-section {
  padding: 7rem 0;
}
@media (max-width: 991.98px) {
  .site-section {
    padding: 3rem 0;
  }
}

.gradient-bg-1,
.block-feature-1 .icon {
  background: #51eaea;
  background: -moz-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #51eaea),
    color-stop(100%, #499bea)
  );
  background: -webkit-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -o-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -ms-linear-gradient(top, #51eaea 0%, #499bea 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#51eaea),
    to(#499bea)
  );
  background: linear-gradient(to bottom, #51eaea 0%, #499bea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51eaea', endColorstr='#499bea', GradientType=0 );
}

.block-heading-1 span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.block-heading-1 h2 {
  font-size: 3rem;
  color: #49adff;
}

.block-feature-1-wrap {
  margin-bottom: 7rem;
}
.block-feature-1-wrap > .container > .row {
  margin-left: -18px;
  margin-right: -18px;
}
.block-feature-1-wrap > .container > .row > .col,
.block-feature-1-wrap > .container > .row > [class*="col-"] {
  padding-right: 36px;
  padding-left: 36px;
}

.block-feature-1 {
  background: #f2f2f2;
  padding: 30px 30px 30px 50px;
  position: relative;
}
.block-feature-1 h2 {
  font-size: 18px;
}
.block-feature-1 .icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 50%;
  border: 4px solid #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.block-feature-1 .icon > span {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-img-video-1-wrap .block-img-video-1 {
  position: relative;
}

.block-img-video-1 > a {
  display: block;
  position: relative;
  cursor: pointer;
}
.block-img-video-1 > a .icon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}
.block-img-video-1 > a .icon > span {
  position: absolute;
  top: 50%;
  font-size: 0.8rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
}

.block-counter-1 {
  text-align: center;
}
.block-counter-1 .number,
.block-counter-1 .caption {
  display: block;
  line-height: 1;
}
.block-counter-1 .number {
  color: #fff;
  font-size: 4rem;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .block-counter-1 .number {
    font-size: 2rem;
  }
}
.block-counter-1 .number:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.3);
}
.block-counter-1 .caption {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.05em;
}

.block-team-member-1 {
  padding: 30px;
  background: #333;
  position: relative;
  top: 0;
  -webkit-transition: 0.15s all ease-in-out;
  -o-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
.block-team-member-1 figure img {
  width: 130px;
}
.block-team-member-1:hover {
  top: -4px;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}
.block-team-member-1 h3 {
  color: #49adff !important;
}

.block-social-1 > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
.block-social-1 > a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-md {
  padding: 8px 20px;
}

.border-w-2 {
  border-width: 2px !important;
}

.block__73694 .block__73422 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .block__73694 .block__73422 {
    height: 400px;
  }
}

@media (max-width: 991.98px) {
  .slide-one-item .owl-nav {
    display: none;
  }
}

.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.4);
}
.slide-one-item .owl-nav .owl-prev:hover,
.slide-one-item .owl-nav .owl-next:hover {
  color: #fff;
}

.slide-one-item .owl-nav .owl-prev {
  left: 20px;
}

.slide-one-item .owl-nav .owl-next {
  right: 20px;
}

.slide-one-item .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
}
.slide-one-item .owl-dots .owl-dot > span {
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.4);
  margin: 3px;
}
.slide-one-item .owl-dots .owl-dot.active > span {
  width: 20px;
  background: #fff;
}

.top-bar {
  padding: 0.5rem 0;
}

.block__35630 .icon {
  position: relative;
}
.block__35630 .icon:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  z-index: -1;
}
.block__35630 .icon > span {
  font-size: 3rem;
  color: #49adff;
}

.block__35630 h3 {
  color: #000;
  font-size: 1.4rem;
}

.footer-suscribe-form .form-control {
  color: #fff;
  border: 1px solid #ccc;
}
.footer-suscribe-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}
.footer-suscribe-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
.footer-suscribe-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
.footer-suscribe-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
.footer-suscribe-form .form-control:hover,
.footer-suscribe-form .form-control:active,
.footer-suscribe-form .form-control:focus {
  color: #fff !important;
}

.footer-suscribe-form .btn {
  background: #49adff;
  color: #fff;
  border-color: #49adff;
}

.pricing {
  background: #333;
  padding: 30px;
}
.pricing .price > span {
  color: #cccccc;
}
.pricing .price > span > span {
  font-size: 3rem;
  color: #49adff;
}
.pricing ul li {
  margin-bottom: 20px;
}

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #222;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cdn-icon-img,
.icon-img {
  width: 2em;
  margin: 0.51em;
}
.cdn-icon-small-img,
.cdn-icon-link-img {
  width: 1em;
  margin-top: -0.5em;
  margin-right: 0.5em;
}
.cdn-icon-link-img {
  width: 1.2em;
  margin-top: -0.2em;
  margin-left: 0.4em;
}
.hover-white:hover {
  color: white;
}

P {
  color: #aaaaaa;
}

@media (max-width: 800px) {
  .col-md-8 {
    padding: 50px 30px;
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #49adff;
}

.spinner-border {
  color: #49adff;
}

body {
  overflow-x: hidden;
}
