.directory
.vscode/
CONTRIBUTING.md
node_modules/
.svelte-kit
.DS_Store
.idea
.netlify/
build/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
