* {
    box-sizing: border-box;
}

.mySlides1,
.mySlides2 {
    display: none;
}

img {
    vertical-align: middle;
    border-radius: 3%;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: #454545;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 90%;
    text-align: center;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}