/*variables*/

:root {
    /*background*/
    --background: #253242;
    /*606075main text and highlights*/
    --footer: #1f2936;
    /*secondard highlights*/
    --back2: #324762;
    --nav: #1f2936;
    /*background*/
    --text: #aaaaff;
    --acsent1: #aaaaff;
    --acsent2: #405a7c;
    --acsent3: #405a7c;
    /*menu background*/
}


/*columns formatting
  the number reperesents the items per column 
*/

body {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    font-weight: bold;
    font-size: 150%;
}


/*
body {
    background-image: url('/images/background1.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}*/

.column2,
.footcol,
.columntext {
    float: left;
    width: 30%;
    font-size: 150%;
    padding: 1.11%;
    padding-bottom: 3%;
    margin: 20px;
}

.column2 {
    width: 45%;
    padding: 2.5%;
}

.footcol {
    font-size: 100%;
    width: 17%;
    padding-top: 1%;
    color: var(--text);
    font-weight: bold;
    font-size: 100%;
    margin-top: 0px;
}

.columntext {
    width: 24%;
    padding-right: 2%;
    padding-left: 7%;
    margin: 50px;
    text-align: left;
    font-size: 120%;
}

.column1 {
    width: 70%;
    text-align: left;
    padding: 10%;
    margin-left: 20%;
    background-color: var(--back2);
    border-radius: 30px;
}


/*headings and footings*/

.h1 {
    color: var(--text);
    text-align: center;
    font-weight: bold;
    font-size: 400%;
    padding-bottom: 50px;
    padding-top: -50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: var(--footer);
    text-align: center;
    margin: auto;
    z-index: 9;
    align-items: center;
}

a {
    background-color: inherit;
    color: inherit;
    border: none;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--nav);
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.25s;
    width: 250px;
}


/* Side navigation links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
}

.sidenav a:hover {
    color: var(--acsent2);
    background-color: var(--text);
}

.button {
    background-color: var(--acsent2);
    margin: 10px;
    border-radius: 500px;
}

.closebtn {
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
}

.slideshow-container img {
    background-color: var(--acsent3);
    width: 80%;
    height: 70%;
}

iframe {
    border-radius: 30px;
    margin: 20px;
    background-color: var(--acsent3);
    padding: 10px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    width: 100%;
    float: center;
    color: var(--text);
    text-align: left;
    font-style: inherit;
    background-color: var(--back2);
    border-radius: 3%;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6,
.mySlides7,
.mySlides8,
.mySlides9,
.mySlides10 {
    text-align: center;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: 60px;
    height: 60px;
    padding: 16px;
    margin-top: -22px;
    color: var(--acsent1);
    background-color: var(--background);
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 90%;
    text-align: center;
    user-select: none;
    right: 90%;
}


/* Position the "next button" to the right */

.next {
    right: 40px;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: var(--acsent2);
    color: var(--background);
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}