/*variables*/

:root {
    --color1: #454555;
    /*606075main text and highlights*/
    --color2: #a0a0a6;
    /*secondard highlights*/
    --color3: #e0e0e5;
    /*background*/
    --color4: #212127;
    /*menu background*/
}


/*columns formatting
  the number reperesents the items per column 
*/

.column3,
.column2,
.column4,
.footcol,
.columntext,
.column1,
.columnImage {
    float: left;
    width: 30%;
    color: var(--color1);
    font-size: 150%;
    padding: 1.11%;
    padding-bottom: 3%;
    background-color: inherit;
}

.column2 {
    width: 45%;
    padding: 2.5%;
}

.column4,
.footcol {
    width: 22%;
    padding: 1.1%;
}

.footcol {
    font-size: 100%;
    width: 18%;
    padding: 0.2%;
    padding-top: 1%;
    color: var(--color3);
    font-weight: bold;
    font-size: 150%;
}

.columntext {
    width: 24%;
    padding-right: 2%;
    padding-left: 7%;
    text-align: left;
    font-size: 120%;
}

.column1 {
    text-align: left;
    padding: 10%;
    padding-left: 7%;
}

.columnImage {
    float: left;
    width: 40px;
    padding-top: 10%;
    padding-left: 60px;
    padding-right: 0px;
}


/*headings and footings*/

.h1 {
    color: var(--color1);
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    padding-bottom: 50px;
    padding-top: -50px;
    background-color: var(--color3);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: var(--color1);
    color: var(--color3);
    text-align: center;
    margin: auto;
    z-index: 9;
    align-items: center;
}

a {
    background-color: inherit;
    color: inherit;
    border: none;
}

.row,
.textrow {
    width: 100%;
    float: left;
    color: var(--color1);
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    background-color: inherit;
}

body {
    background-color: var(--color3);
}

.textrow {
    font-size: 300%;
    text-align: center;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color4);
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.25s;
}


/* Side navigation links */

.sidenav a,
.subnav,
.subnavbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color2);
    display: block;
}

.sidenav a:hover {
    color: var(--color4);
    background-color: var(--color2);
}

.sidenav .closebtn {
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}


/* Sub menu*/

.subnav,
.subnavbtn {
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
}

.sidenav {
    width: 250px;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    color: var(--color4);
    background-color: var(--color2);
    width: 100%;
}

.subnav-content {
    display: none;
    background-color: var(--color1);
    color: var(--color3);
    width: 100%;
}

.subnav-content a {
    color: var(--color3);
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: var(--color2);
    color: var(--color4);
}

.subnav:hover .subnav-content {
    display: block;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    width: 80%;
    height: 70%;
    border-radius: 3%;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 100%;
    float: center;
    color: var(--color1);
    text-align: left;
    font-style: inherit;
    background-color: inherit;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6,
.mySlides7,
.mySlides8,
.mySlides9,
.mySlides10 {
    text-align: center;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: 60px;
    height: 60px;
    padding: 16px;
    margin-top: -22px;
    color: var(--color3);
    background-color: var(--color1);
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 90%;
    text-align: center;
    user-select: none;
    right: 90%;
}


/* Position the "next button" to the right */

.next {
    right: 40px;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: var(--color3);
    color: var(--color1);
}