/*variables*/

:root {
  /*colours*/
  --background: #8ed2ec;
  --footer: #1f2a38;
  --back2: #1f2a38;
  --text: #079aad;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--text);
  font-weight: bold;
  font-size: 150%;
  margin: 0;
}
.content {
  flex-direction: row;
}
p {
  display: inline-flexbox;
}
.scroll {
  width: 10%;
  margin-bottom: 50px;
  float: right;
  z-index: 1;
  flex-wrap: wrap;
  position: fixed;
  right: 0;
  bottom: 1%;
}

.headshot {
  width: 40%;
  margin-left: 7%;
  margin-top: -10px;
}

.column2,
.footcol,
.columntext {
  float: left;
  width: 30%;
  font-size: 100%;
  padding: 1.11%;
  padding-bottom: 3%;
  margin: 20px;
}

.column2 {
  width: 45%;
  padding: 2.5%;
  margin: 1%;
  margin-bottom: 0;
}
.columntext {
  padding: 0;
  width: 26%;
  text-align: left;
  line-height: 1.3;
  flex-direction: column;
}

.footcol {
  width: auto;
  color: var(--text);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: flex;
  margin-top: 0;
  padding-top: 5px;
}

footer {
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6%;
  background-color: var(--footer);
  text-align: center;
  padding-left: 10%;
  z-index: 9;
  align-items: center;
}
.row {
  flex-direction: row;
}

.list_cont {
  margin: auto;
  width: 80%;
  padding: 10px;
}
.cv {
  margin: auto;
  border-radius: 20px;
}
.cv_cont {
  padding: 10%;
}
.list {
  border-radius: 20px;
  margin: auto;
  width: 80%;
  padding: 10px;
  overflow: scroll;
}

/*headings and footings*/
.slide_title {
  text-align: center;
  font-size: 130%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
}
h2 {
  display: inline-flex;
}
h1 {
  color: var(--text);
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
}

a {
  background-color: inherit;
  color: inherit;
  border: none;
}

.menu {
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 4%;
}

img {
  vertical-align: middle;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

.slideshow-container img {
  width: 80%;
  height: 70%;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 0px;
  margin-top: 20px;
  width: 70%;
  float: center;
  color: var(--text);
  text-align: left;
  font-style: inherit;
  border-radius: 20px;
}

.Slide {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: 60px;
  height: 60px;
  padding: 15px;
  margin-top: -22px;
  color: var(--background);
  background-color: var(--text);
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 90%;
  text-align: center;
  user-select: none;
  right: 73%;
}

.next {
  left: 73%;
}

/* On hover, add a grey background color */

.prev:hover,
.next:hover,
.button:hover {
  background-color: var(--footer);
  color: var(--text);
}

.button {
  background-color: var(--footer);
  border-radius: 20px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s ease;
  font-size: medium;
  margin: 0;
}

.explain {
  margin: 5%;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;
}
