@import './../lib/styles/root.scss';

:root {
	font-family: 'Rubik', sans-serif;
	font-size: max(1vw, 20px);
	color: $light;
}

* {
	cursor: none !important;
	@include transition;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;
	background-color: $primary;
	background: linear-gradient(180deg, $primary 0%, $primary-xl 10.45%);
}

section {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
	padding-bottom: 20vh;
	margin: auto;
	position: relative;

	top: 0;
	background-color: var(--background);
	overflow: hidden;
}

h1,
h2,
h3 {
	font-weight: 400;
	color: $accent;
}

h1 {
	font-size: max(5vw, 3rem);
	text-align: center;
}

h2 {
	font-size: max(3vw, 2rem);
	user-select: none;
}

h3 {
	font-size: max(2vw, 1.5rem);
	font-size: 1.5rem;
}

p,
b {
	line-height: 1.5;

	b {
		color: $accent;
		font-weight: normal;
	}
}

a {
	color: $accent;
	text-decoration: none;

	&:hover {
		color: $accent-l;
	}
}

img {
	user-select: none;
}

button,
.button {
	background-color: $primary-xxl;
	border: none;
	color: $accent;
	border-radius: 10px;
	font-weight: bold;
	box-shadow: 3px 3px 0px 0px #1116;
	margin: 20px;
	text-decoration: none;
	line-height: 1;
	user-select: none;
	text-transform: uppercase;

	text-align: center;
	padding: 20px;

	&:hover {
		background-color: $accent-l;
		color: $primary-l;
		scale: 1.05;
	}

	&:focus {
		outline: 2px solid $accent;
		scale: 1.05;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $primary;
}

::-webkit-scrollbar-thumb {
	background: $primary-xxl;
}

::-webkit-scrollbar-thumb:hover {
	background: $accent;
}

::-moz-selection {
	background: $accent-tt;
}

::selection {
	background: $accent-tt;
}
