@import "../lib/styles/root.scss";

#projects {
  --background: #333;

  .more-container {
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;

    .more-projects-btn {
      @include border;

      margin-bottom: 5em;
      width: 300px;
      text-align: center;
      padding: 20px;
      background-color: $accent;
      height: 20px;
      display: flex;
      justify-content: center;
      color: $primary;

      .arrow {
        padding-left: 20px;
        height: 20px;
        width: 20px;
        fill: $primary;
        transition: none;
      }

      &:hover {
        background-color: $accent-l;
        color: white;
        scale: 1.05;

        .arrow {
          fill: white;
        }
      }
    }
  }
}

#education {
  --background: #272727;
}

#clubs {
  --background: #3c3c3c;
}

#work {
  --background: #4a4a4a;
}

#awards {
  --background: #3c3c3c;
}

#base {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  .hero-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;

    z-index: -1;

    img {
      width: 110%;
      height: 110%;
      object-fit: cover;
      object-position: center;
    }
  }

  .blur {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: $primary-t;
  }

  .header-text {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 25vh;
    text-align: center;
    z-index: 1;

    h1 {
      margin: 0px;
    }
  }
}

.long-card-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: min(90%, 1200px);
}

.sticky {
  position: sticky;
}

@media (max-width: 768px) {
  .sticky {
    position: relative;
  }

  .wave {
    display: none;
  }
}

@keyframes -global-from-bottom {
  0% {
    transform: rotateY(-20deg) translateY(80vw) skewY(20deg);
  }
  100% {
    transform: none;
  }
}

@keyframes -global-from-left {
  0% {
    transform: rotateX(30deg) translateX(-150vw) skewX(-30deg);
  }
  100% {
    transform: none;
  }
}

@keyframes -global-from-right {
  0% {
    transform: rotateX(-30deg) translateX(150vw) skewX(30deg);
  }
  100% {
    transform: none;
  }
}
