@import './../lib/styles/root.scss';

#projects {
	--background: #333;
	margin-top: 100vh;

	.more-projects-btn {
		@include button;
	}
}

#education {
	--background: #272727;
	padding-top: 10vh;
}

#clubs {
	--background: #3c3c3c;
	padding-top: 10vh;
}

#work {
	--background: #4a4a4a;
	padding-top: 10vh;
}

#awards {
	--background: #3c3c3c;
	position: sticky;
}

#contact {
	@include flex-center;
	padding-bottom: 0;
	--background: #222;
}

.long-card-grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: min(90%, 1200px);
}
