@use 'src/lib/styles/mixins.scss' as *;
@use 'src/lib/styles/variables.scss' as *;
@use './../lib/styles/fonts.scss' as *;

h2 {
	text-align: center;
}

@media (max-width: 768px) {
	h2 {
		font-size: 3em;
	}
}

#projects {
	--background: #333;
	margin-top: 100vh;
	box-shadow: #111 0 0 30px;
	position: sticky;
	height: 150vh;

	.title {
		display: grid;
		place-items: center;
		grid-template-columns: 2fr 1fr;
		margin-top: 50px;
		grid-gap: 6rem;
		width: 80vw;

		h2,
		a {
			margin: 0px;
		}
	}

	.more-projects-btn {
		@include button;
		width: 100%;
		place-self: center start;
	}

	// mobile
	@media (max-width: 768px) {
		.title {
			grid-template-columns: 1fr;
			grid-gap: 1.5rem;

			a {
				height: 10px;
			}
		}

		.more-projects-btn {
			width: 85%;
		}
	}
}

#education {
	--background: #272727;
	box-shadow: #111 0 0 30px;

	padding-top: 10vh;
}

#clubs {
	--background: #333;
	padding-top: 10vh;
}

#work {
	--background: #333;
	padding-top: 10vh;
}

#awards {
	--background: #272727;
	position: sticky;
}

#contact {
	@include flex-center;
	padding-bottom: 0;
	--background: #222;
}

.long-card-grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: min(90%, 1200px);
}
