@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #222;
	--secondary-color: #333;
	--accent-color: #43d0ff;
	--heading-color: #43d0ff;
	--text-color: #fff;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	overflow-x: hidden;

	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 10.45%);
}

* {
	color: var(--text-color);
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 3rem;
	margin-top: 1.5em;
}

input {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button,
.button {
	background-color: #252525;
	border: 2px solid var(--accent-color);
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
	margin: 20px;
	text-decoration: none;

	transition: 0.2s ease;
}

button:hover,
.button:hover {
	background-color: var(--accent-color);
	color: #222;
}
