@use 'src/lib/styles/mixins.scss' as *;
@use 'src/lib/styles/variables.scss' as *;

h1 {
	margin-top: 100px;
}

.field {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	min-height: 70px;
	align-content: center;
	align-items: center;

	label {
		width: 100px;
		text-align: right;
		margin-right: 20px;
	}

	input,
	textarea,
	select {
		@include border-d;
		background-color: $primary-xxl;
		padding: 20px;
		box-sizing: border-box;
		font-size: max(0.7vw, 20px);
		color: $light;
		width: 80%;

		&:focus {
			outline: 2px solid $accent;
			scale: 1.05;
		}

		&:hover {
			scale: 1.05;
		}

		&#featured {
			width: 30px;
			height: 30px;
		}
	}

	.submit {
		@include button;
		width: 100%;
	}
}

video,
img {
	width: 300px;
	border-radius: 20px;
}

h3,
h2 {
	margin-top: 50px;
	text-align: center;
}

.tiles {
	width: 300px;
}

.active {
	box-shadow: 0 4px 0 1px $accent-tt;
}

h2 {
	font-size: 3em;
}
