@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?10si43");
  src: url("fonts/icomoon.eot?10si43#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?10si43") format("truetype"),
    url("fonts/icomoon.woff?10si43") format("woff"),
    url("fonts/icomoon.svg?10si43#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*used*/
.icon-heart:before {
  content: "\f004";
}
.icon-phone:before {
  content: "\f095";
}
.icon-github:before {
  content: "\f09b";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-code:before {
  content: "\f121";
}
.icon-3d_rotation:before {
  content: "\e84d";
}
.icon-add:before {
  content: "\e145";
}
.icon-all_out:before {
  content: "\e90b";
}
.icon-blur_circular:before {
  content: "\e3a2";
}
.icon-close2:before {
  content: "\e5cd";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-menu:before {
  content: "\e5d2";
}
