[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
  transition-duration: 0.1s;
}
[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}
[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
  transition-duration: 0.15s;
}
[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
  transition-duration: 0.2s;
}
[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 0.2s;
}

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translate(0);
}
[data-aos="fade-up"] {
  transform: translateY(100px);
}
[data-aos="fade-down"] {
  transform: translateY(-100px);
}
[data-aos="fade-right"] {
  transform: translate(-100px);
}
[data-aos="fade-left"] {
  transform: translate(100px);
}
[data-aos="fade-up-right"] {
  transform: translate(-100px, 100px);
}
[data-aos="fade-up-left"] {
  transform: translate(100px, 100px);
}
[data-aos="fade-down-right"] {
  transform: translate(-100px, -100px);
}
[data-aos="fade-down-left"] {
  transform: translate(100px, -100px);
}
[data-aos^="slide"][data-aos^="slide"] {
  transition-property: transform;
}
[data-aos^="slide"][data-aos^="slide"].aos-animate {
  transform: translate(0);
}
[data-aos="slide-up"] {
  transform: translateY(100%);
}
[data-aos="slide-down"] {
  transform: translateY(-100%);
}
[data-aos="slide-right"] {
  transform: translateX(-100%);
}
[data-aos="slide-left"] {
  transform: translateX(100%);
}
