@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;

  --pure-white: #fff;
  --primary-color: #222;
  --primary-tint-color: #333;

  --accent-color: #43d0ff;
  --accent-tint-color: #7adeff;

  --text-color: #fff;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(#333) 10.45%
  );
}

* {
  color: var(--text-color);
  scroll-behavior: smooth;
  transition: 0.2s ease;
  cursor: none !important;
}

.sticky {
  position: sticky;

  @media (max-width: 1200) {
    position: relative;
  }
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 20vh;
  margin: auto;
  position: relative;

  top: 0;
  background-color: var(--background);

  &#projects {
    --background: #333;

    .more-projects-btn {
      margin-bottom: 5em;
      width: 300px;
      text-align: center;
      padding: 20px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &#education {
    --background: #3c3c3c;
  }

  &#work {
    --background: #4a4a4a;
  }
  &#awards {
    --background: #3c3c3c;
  }

  &#cta {
    --background: #222;
    justify-content: center;
    height: 100vh;

    .contacts {
      font-size: 1.5em;
    }
  }

  &.base {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    .hero-pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.1s ease;
      /* backdrop-filter: blur(2px); */
      background-color: #2225;

      z-index: -1;

      img {
        width: 110%;
        height: 110%;
        object-fit: cover;
        object-position: center;
      }
    }

    .blur {
      z-index: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background-color: #2227;
    }

    .header-text {
      box-sizing: border-box;
      width: 100%;
      height: 100vh;
      padding-top: 25vh;
      text-align: center;
      z-index: 1;

      h1 {
        margin: 0px;
      }
    }

    .cta {
      text-transform: uppercase;
      background-color: var(--accent-color);
      color: var(--pure-white);
      padding: 20px 40px;
      border-radius: 5px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
      margin-top: 2rem;
      cursor: pointer;
      transition: 0.2s ease;
      font-weight: bold;

      &:hover {
        background-color: var(--accent-tint-color);
      }
    }
  }

  &#about {
    pointer-events: none;
    overflow: hidden;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    height: 600px;
    overflow: hidden;
  }

  .long-card-row {
    min-height: calc(95vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(90%, 1200px);
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--accent-color);
  cursor: default;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-top: 2em;
  user-select: none;
}

h3 {
  font-size: 1.5rem;
}

p,
b {
  cursor: default;
  line-height: 1.5;

  b {
    color: var(--accent-color);
    font-weight: normal;
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

img {
  user-select: none;
}

button,
.button {
  background-color: #252525;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-decoration: none;

  transition: 0.2s ease;
  text-align: center;
  padding: 20px;

  &:hover {
    background-color: var(--accent-color);
    color: #252525;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.wave {
  svg {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    transform: translate(0, 3px);
    filter: drop-shadow(0px -12px 4px #2222);
    pointer-events: none;

    path {
      transform: scaleY(0.5);

      fill: var(--background);
    }
  }
}

.repo-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.github-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
  cursor: pointer;

  * {
    cursor: pointer;
  }

  .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    transition: all 1s cubic-bezier(0.36, -0.62, 0.28, 1.89);

    &:hover {
      rotate: 360deg;
    }
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    max-width: 400px;
    text-align: left;

    .github-text {
      color: grey;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h3 {
        margin-top: 0;
      }
    }

    caption {
      font-size: 1em;
      text-align: left;
    }
  }

  &:hover {
    h3,
    .github-text {
      color: var(--accent-tint-color);
    }
  }
}

.form {
  width: 500px;

  > * {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  input,
  textarea {
    background-color: #333;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      width: calc(50% - 10px);
    }
  }

  textarea {
    resize: none;
    height: 200px;
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
  }
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;

  p {
    font-size: 1.2em;
  }
}

.more-container {
  width: 100%;
  height: 20%;
  background-color: #222;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;

  .button {
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
