{
	"mailGun": "key-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
	"firebase": {
		"apiKey": "xxxxxxxxxxxxxxxxxxxxxxxx",
		"authDomain": "xxxxxxxxxxxxxxxxxxxxxxxx",
		"projectId": "xxxxxxxxxxxxxxxxxxxxxxxx",
		"storageBucket": "xxxxxxxxxxxxxxxxxxxxxxxx",
		"messagingSenderId": "xxxxxxxxxxxxxxxxxxxxxxxx",
		"appId": "xxxxxxxxxxxxxxxxxxxxxxxx",
		"measurementId": "xxxxxxxxxxxxxxxxxxxxxxxx"
	}
}
