:root {
  /*colours*/
  --background: #2f3238;
  --text: #b2cee6;
  --acsent: #4a5468;
  --border: #484e5a;
}

* {
  scroll-behavior: smooth;
  display: flex;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
title,
script,
#bio2 {
  display: none;
}
html {
  display: block;
}
body {
  flex-direction: column;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
}
#headshot-container {
  width: 60vw;
  height: 60vh;
  margin: 10vh 0 0 6%;
}
#headshot {
  width: 35vw;
  height: 35vw;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
  flex-wrap: nowrap;
}
.top-row {
  height: 100vh;
}
#bio {
  margin: 10vh 6% 0% 6%;
  font-size: x-large;
  padding: 4% 3% 2% 5%;

  border: solid 0.5px var(--border);
  border-radius: 5px;
  height: 50vh;
}
#scroll {
  width: 8%;
  bottom: 5%;
  right: 5%;
  z-index: 1;
  position: fixed;
}
#footer {
  width: 100%;
  background-color: var(--acsent);
  color: var(--text);
  justify-content: center;
  bottom: 0;
  left: 0;
  font-size: larger;
}
.contact {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
}
#skill_cont,
.projects {
  justify-content: center;
}

#skill_cont {
  padding: 5%;
  padding-left: 15%;
  border: solid 0.5px var(--border);
  border-radius: 5px;
  margin: 10%;
}
.info_col {
  width: 20vw;
  text-align: center;
}
button {
  background-color: var(--text);
  color: var(--background);
  border: none;
  margin-left: 1%;
  margin-top: 1%;
  width: 8%;
  height: 30px;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
}

a {
  color: inherit;
  background-color: inherit;
}
.CV {
  background-color: var(--text);
  color: var(--background);
  border: none;
  margin-left: 5%;
  margin-top: 5%;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  width: 40%;
  height: 3.5%;
  vertical-align: text-bottom;
  text-decoration: none;
  padding: 0.8%;
  padding-top: 1%;
  border: medium;
  justify-content: center;
}
.CV_inner {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.8%;
  text-align: center;
}

button:hover,
.CV:hover {
  cursor: pointer;
  background-color: var(--acsent);
  color: var(--text);
}

.sec_h {
  text-align: center;
}
.project_pic {
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.grid-item {
  width: 24.8%;
  flex-direction: column;
}

.grid-item:hover .project_pic {
  opacity: 0.1;
}

.link {
  text-decoration: underline;
}

.grid-item:hover .text {
  opacity: 1;
}
.text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(0, 12vw);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 24.8vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 10px;
}

.space {
  margin-top: 8%;
}
.Mgrid {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  button {
    width: 30%;
  }
  .CV {
    width: 50%;
  }
  .info_col {
    width: 36%;
    margin: 0;
    margin-left: 20px;
  }
  #bio,
  #footer,
  .space {
    display: none;
  }
  #bio2 {
    display: flex;
    margin: 10%;
    margin-top: 2%;
  }
  #headshot-container {
    width: 80%;
  }
}
